
atividades-do-curso/BARBEARIA-STYLUS/pronto/estilo.css
atividades-do-curso/BARBEARIA-STYLUS/pronto/index.html
atividades-do-curso/BARBEARIA-STYLUS/pronto/logotipo.jpg
atividades-do-curso/BARBEARIA-STYLUS/texto.txt
