body{
    background-color: #f1f1f1;
}
img{
    width: 190px;
}
div{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: Verdana;
}

h1{
    font-size: 24px;
    color: #606062;
    border: 5px solid #606062;
    padding: 10px;
}
h2{
   font-size: 20px;
   color: #7a797b;
   margin-top: 35px;
   margin-bottom: 35px;
}
h3{
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    color: #606062;
    border-top: solid #606062;
    border-bottom: solid #606062;
    margin-top: 30px;
}
p{
    font-size: 18px;
    text-align: justify;
    color: #606062;
    line-height: 32px;
    margin-bottom: 35px;
}
span{
    font-weight: bold;
}
a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    background-color:  #00c94a;
    border-radius: 20px;
}